<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Filters</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFilters()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="PeopleFiltersController as peopleFilters">
    <ion-list class="filter-list">
      <ion-item class="filter-list-header item-icon-right" ng-click="peopleFilters.showList[0] =! peopleFilters.showList[0]"
                ng-class="{'open': peopleFilters.showList[0]}">
        Assigned To <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item ng-repeat="leader in peopleFilters.assigned_to_list" ng-show="peopleFilters.showList[0]"
                class="item-collapsible">
        {{leader.name}}
      </ion-item>

      <ion-item class="filter-list-header item-icon-right" ng-click="peopleFilters.showList[1] =! peopleFilters.showList[1]"
                ng-class="{'open': peopleFilters.showList[1]}">
        Group <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item ng-repeat="group in peopleFilters.group_list" ng-show="peopleFilters.showList[1]"
                class="item-collapsible">
        {{group.name}}
      </ion-item>

      <ion-item class="filter-list-header item-icon-right" ng-click="peopleFilters.showList[2] =! peopleFilters.showList[2]"
                ng-class="{'open': peopleFilters.showList[2]}">
        Tags <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item ng-repeat="tag in peopleFilters.tag_list" ng-show="peopleFilters.showList[2]"
                class="item-collapsible">
        {{tag.name}}
      </ion-item>

      <ion-item class="filter-list-header item-icon-right" ng-click="peopleFilters.showList[3] =! peopleFilters.showList[3]"
                ng-class="{'open': peopleFilters.showList[3]}">
        Interactions <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item ng-repeat="interaction in peopleFilters.assigned_to_list" ng-show="peopleFilters.showList[3]"
                ng-class="{'open': peopleFilters.showList[3]}"
                class="item-collapsible">
        {{interaction.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
