<ion-view view-title="" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-funnel" ng-click="app.openFilters()"></button>
    <a class="button button-icon button-clear ion-ios-plus-empty" href="#/app/person/new"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-stable bar-subheader item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="peopleList.searchTerm" ng-change="peopleList.search()" placeholder="Search">
    </label>
    <button class="button button-clear" ng-show="peopleList.searchTerm"
            ng-click="peopleList.searchTerm = ''; peopleList.search()">
      Cancel
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-refresher on-refresh="peopleList.firstPage()"></ion-refresher>
    <ion-list>
      <ion-item class="item-avatar" collection-repeat="person in peopleList.people" href="#/app/person/{{person.id}}">
        <div class="item-image" style="{{person | personAvatar | backgroundStyle}}"></div>
        <h2>{{person | personFullname}}</h2>
        <p>{{person.gender}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="peopleList.nextPage()" distance="25%" ng-if="peopleList.hasMorePages"></ion-infinite-scroll>
  </ion-content>
</ion-view>
