<ion-view view-title="">
  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear ion-ios-chatbubble-outline"
       href="sms:{{profile.person | personPrimaryPhone}}" "></a>
    <a class="button button-icon button-clear ion-ios-telephone-outline"
       href="tel:{{profile.person | personPrimaryPhone}}" "></a>
    <a class="button button-clear" href="#/app/person/{{profile.person.id}}/edit">Edit</a>
  </ion-nav-buttons>
  <ion-content class="person-profile">
    <div class="profile-bg"></div>
    <div class="profile-header">
      <div class="profile-info">
        <div class="profile-image">
          <img ng-src="{{profile.person | personAvatar : 200}}">
        </div>
        <h3 class="profile-name">{{profile.person.first_name}} {{profile.person.last_name}}</h3>
        <label>Labels:</label>
        <div class="label" ng-repeat="organization_label in profile.person.organizational_labels">{{organization_label.label.name}}</div>
        <div class="button-bar skinny-button-bar">
          <a class="button skinny-button" ng-class="{'active' : profile.isCurrentTab(0)}" ng-click="profile.setTab(0)">Info</a>
          <a class="button skinny-button" ng-class="{'active' : profile.isCurrentTab(1)}" ng-click="profile.setTab(1)">Interactions</a>
          <a class="button skinny-button" ng-class="{'active' : profile.isCurrentTab(2)}" ng-click="profile.setTab(2)">Surveys</a>
        </div>

      </div>
    </div>

    <!-- Info -->
    <div ng-show="profile.isCurrentTab(0)">Info</div>

    <!-- Interactions -->
    <div ng-show="profile.isCurrentTab(1)">Interactions</div>

    <!-- Surveys -->
    <div ng-show="profile.isCurrentTab(2)">Surveys</div>

  </ion-content>
</ion-view>
