<ion-view view-title="">
  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear ion-ios-chatbubble-outline"
       href="sms:{{profile.person | personPrimaryPhone}}" "></a>
    <a class="button button-icon button-clear ion-ios-telephone-outline"
       href="tel:{{profile.person | personPrimaryPhone}}" "></a>
    <a class="button button-clear" href="#/app/person/{{profile.person.id}}/edit">Edit</a>
  </ion-nav-buttons>
  <ion-content class="person-profile">
    <div class="profile-body">
      <div class="profile-header">
        <div class="profile-info">
          <div class="profile-image">
            <img ng-src="{{profile.person | personAvatar : 200}}">
          </div>
          <h3 class="profile-name">{{profile.person.first_name}} {{profile.person.last_name}}</h3>
          <div>Labels:</div>
          <div class="labels">
            <span class="label" ng-repeat="organization_label in profile.person.organizational_labels">{{organization_label.label.name}}</span>
          </div>
          <div class="button-bar skinny-button-bar">
            <a class="button skinny-button" ng-class="{'active' : profile.isCurrentTab(0)}" ng-click="profile.setTab(0)">Info</a>
            <a class="button skinny-button" ng-class="{'active' : profile.isCurrentTab(1)}" ng-click="profile.setTab(1)">Interactions</a>
            <a class="button skinny-button" ng-class="{'active' : profile.isCurrentTab(2)}" ng-click="profile.setTab(2)">Surveys</a>
          </div>

        </div>
      </div>

      <!-- Info -->
      <person-info ng-show="profile.isCurrentTab(0)" person="profile.person"></person-info>

      <!-- Interactions -->
      <person-interactions ng-show="profile.isCurrentTab(1)" person="profile.person"></person-interactions>

      <!-- Surveys -->
      <div ng-show="profile.isCurrentTab(2)">Surveys</div>
    </div>

  </ion-content>
</ion-view>
